* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #afcad6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

form {
    background-color: #0571ec56;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #1f1e1e;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-left: 3px solid #110d0d;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0d95e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #666;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
