:root {
   
    --fuente: 'Concert One', sans-serif;
}
body {
    font-family: var(--fuente);  
    font-weight: 400;
}

.icono {
    margin-left: 10px;
}

.iconos {
    width: 120px;
    margin: auto;
}

header {
    background-color: #0571ecb4;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
}

.encabezado-texto  {
    width: 50%;
    margin-top: 7px;
    margin: auto;
    text-align: center;
}

.navegacion {
    background-color: #3576c0b4;
    text-align: center;
    height: 48px;
}

.navegacion a{
    display: inline-block;
    color: #000000c9;
}

.btn-inicio {
    margin-left: 30px;
}

.titulo-comidas {
    margin: auto;
    padding-top: 10px;
}

.fondo {
    background: linear-gradient(to left, #afcad6, #1d59b4);
}

.titulo-empanadas {
    color: #4396e9;
    text-shadow: 0 0 3px #000000;
}

.titulo-tartas {
    color: #8b51e9;
}

.titulo-ensaladas { 
    color: #5ae061;
}

.titulo-especial {
    color: #9c3e3e;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    justify-content: center;
}

.flex-item {
    height: 300px;
    width: 300px;
}

.card{
    color: white ;
    background-color: #80BFFF;
    text-align: center;
    margin:6px;
    margin-top:5px;
    padding: 20px 10px;
    box-shadow: 0px, 0px, 25px, #0007;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
}


.tarta {
    background-color: #8b51e9;
}

.ensalada {
    background-color: #47b84da4;
}

.count-products{
    color: #f3f3f3;
    width: 15px;
    height: 15px;
    font-size: 0.8em;
    display: inline-block;
    position: relative;
    top: 5px;
    right: 15px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}


.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}
.hidden{
    display: none;
}
.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.hidden-cart{
    display: none;
}

.card-img {
    background-size: cover;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.imagen-mal {
    height: 133.61px;
}

.card-title {
    font-size: 32px;
}

.card-title-especial {
    font-size: 20px;
}

.card-title-especial-xs {
    font-size: 16px;
}

.card-title-especial-s {
    font-size: 18px;
}

.semana {
    background-color: #9c3e3e;
}



