:root {
   
    --fuente: 'Concert One', sans-serif;
}
body {
    font-family: var(--fuente);  
    font-weight: 400;
}

.icono {
    margin-left: 10px;
}

.iconos {
    margin: auto;
}

header {
    background-color: #0571ecb4;
    padding: 5px;
}

.navegacion {
    background-color: #3576c0b4;
}

.titulo-comidas {
    margin: auto;
    padding-top: 10px;
}

.fondo {
    background-color: #68adca41;
}

.titulo-empanadas {
    color: #4396e9;
}

.titulo-tartas {
    color: #8b51e9;
}

.titulo-ensaladas { 
    color: #47b84d;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    justify-content: center;
}

.flex-item {
    height: 300px;
    width: 300px;
}

.card{
    color: white ;
    background-color: #80BFFF;
    text-align: center;
    margin:6px;
    margin-top:5px;
    padding: 20px 10px;
    box-shadow: 0px, 0px, 25px, #0007;
    border-radius: 8px;
    box-shadow: 10px 5px 50px white;
}

.tarta {
    background-color: #8b51e9;
}

.ensalada {
    background-color: #47b84da4;
}

.count-products{
    position: absolute;
    top: 50%;
    right: 50px;;

    background-color: #000;
    color: #fff;
    width: 15px;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}


.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}
.hidden{
    display: none;
}
.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.hidden-cart{
    display: none;
}

.card-img {
    background-size: cover;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.imagen-mal {
    height: 133.61px;
}

.card-title {
    font-size: 32px;
}



