body {
    background: linear-gradient(to left, #afcad6, #1d59b4);
}

h1 {
    text-align: center;
}

.productos {
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    justify-content: center;
}

.producto{
    color: white ;
    background-color: #80BFFF;
    text-align: center;
    margin:6px;
    margin-top:5px;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    height: 300px;
    width: 300px;

    display: flex;
    flex-direction: column; /* Esto ayudará a alinear los elementos en columna */
    justify-content: space-between;
    align-items: center;
}

.producto__btn {
    width: 90%;
    padding: 8px; /* Espaciado interno del botón */
    font-size: 1em; /* Tamaño de la fuente */
    color: white; /* Color del texto */
    background-color: #0087e0; /* Color de fondo del botón */
    border-radius: 5px; 
    text-decoration: none; 
}

.producto__titulo {
    font-size: 2em;
}

.especial {
    font-size: 1.6em;
}

.tarta {
    background-color: #8b51e9;
}

.ensalada {
    background-color: #47b84da4;
}

.semana {
    background-color: #9c3e3e;
}

.producto__img {
    background-size: cover;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.btn {
    background-color: #0d6efd; 
    color: white; 
    border: none;
    padding: 15px 30px; 
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #0055d4;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px);
}

p {
    margin-top: -15px;
}

h2 {
    font-size: 1.3em;
}